html, body {
  background-color: var(--color-bg-primary);
  padding: 0;
  margin: 0;
}

@media (min-width: 1024px) {
  body {
    width: 40%;
    margin: 0 auto;
    background-color: var(--color-bg-tertiary);
  }
}